extends layout

block content
  h1= "FAST Library"          
  p Title: #{bookinfo.title} 
  p Author: #{bookinfo.author}
  p Arrival Date: #{bookinfo.entry_date}
  p Location: #{bookinfo.location}
  p Times Issued: #{bookinfo.times_issued}
